extends ../page.jade

block title
    title CollateX &ndash; Download

block content
    p CollateX is open source software and made available for download in source as well as binary form.

    #download-binary

        h2 Binary Distributions

        p.
            For usage instructions, please refer to the <a href="/doc/" title="Documentation">documentation</a>. Please also
            note the <a href="#license" title="License">license terms</a> under which CollateX is made available.

        .yui3-g
            .yui3-u-1-2
                .content.download-option

                    h3 1. Tools

                    p.download-link » <a href="/dist/collatex-tools-#{version}.zip">collatex-tools-#{version}.zip</a>
                    p.download-link » <a href="/dist/collatex-tools-#{version}.tar.bz2">collatex-tools-#{version}.tar.bz2</a>

            .yui3-u-1-2
                .content

                    h3 Requirements

                    p.
                        CollateX is written for the <a href="http://www.java.com/" title="Homepage">Java platform</a> which is available
                        for all major operating systems. You need the Java Runtime Environment (JRE) version&nbsp;6 or higher.

            .yui3-u-1-2
                .content.download-option

                    h3 2. Core

                    p For embedding CollateX into your JVM-based application, please use <a href="http://search.maven.org/" title="Maven Central">Maven Central</a>:

                    pre.prettyprint.
                        &lt;dependency>
                          &lt;groupId>eu.interedition&lt;/groupId>
                          &lt;artifactId>collatex-core&lt;/artifactId>
                          &lt;version>#{version}&lt;/version>
                        &lt;/dependency>
                        &lt;dependency>
                          &lt;groupId>net.sf.jung&lt;/groupId>
                          &lt;artifactId>jung-graph-impl&lt;/artifactId>
                          &lt;version>2.0.1&lt;/version>
                        &lt;/dependency>

            .yui3-u-1-2
                .content.download-option

                    h3 3. Cocoon

                    p For adding CollateX' block to your Cocoon install, please use <a href="http://search.maven.org/" title="Maven Central">Maven Central</a> as well:

                    pre.prettyprint.
                        &lt;dependency>
                          &lt;groupId>eu.interedition&lt;/groupId>
                          &lt;artifactId>collatex-cocoon&lt;/artifactId>
                          &lt;version>#{version}&lt;/version>
                        &lt;/dependency>
                        &lt;dependency>
                          &lt;groupId>net.sf.jung&lt;/groupId>
                          &lt;artifactId>jung-graph-impl&lt;/artifactId>
                          &lt;version>2.0.1&lt;/version>
                        &lt;/dependency>

        p Depending on how you would like to use CollateX, you can opt for three different ways to download it:

        ol
            li.
                Should you be in need for a collation component that integrates with your software system independent of its
                runtime and development environment, we offer a <strong>tool suite</strong> comprised of a
                <em>command-line tool</em> and a <em>self-contained RESTful web service</em>. So whether your project is web-based or
                runs in your local environment, whether you write in Ruby, Python, PHP, JavaScript or some other language: This is
                probably the option to get started on.
            li.
                Should you target the <em>Java Virtual Machine</em> as your runtime environment and would like to <strong>embed CollateX</strong>
                in your application, we provide <a href="http://maven.apache.org/" title="Homepage">Apache-Maven</a>-compatible artifacts of
                CollateX' core for download.
            li.
                Should you use <a href="http://cocoon.apache.org/" title="Homepage">Apache Cocoon</a> as the framework for your
                <em>XML-oriented application</em>, we offer a <strong>Cocoon block</strong> making collation functionality available
                as a transformer for your XML processing pipelines.

    #download-source

        h2 Source Code

        .yui3-g
            .yui3-u-1-2
                .content
                    p.
                        We do not prepare source code bundles for download. Development of CollateX takes place on
                        <a href="https://github.com/interedition/collatex" title="CollateX on GitHub">GitHub</a> where you can find
                        the latest version of CollateX' source as well as earlier versions.

            .yui3-u-1-2
                .content.download-option
                    p.download-link » <a href="https://github.com/interedition/collatex/">github.com/interedition/collatex/</a>

    #license

        h2 License

        p CollateX may be used under the terms of the <a href="http://www.gnu.org/licenses/gpl.html" title="GPLv3 Homepage">GNU General Public License Version 3</a>.

        pre.content
            include ../../../LICENSE.txt
